<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">

<head th:replace="base :: bootstrap">
</head>

<nav th:replace="base :: navbar">
</nav>

<body background="https://i.imgur.com/Nbi7bYI.jpg">

<div th:replace="base :: welcome">
</div>

<br />
<br />

<div class="col-md-4 col-md-offset-4 container jumbotron vertical-center text-center">
<form action="#"
      th:action="@{/process}"
      th:object="${message}"
      method="post">

    <input type="hidden" th:field="*{id}" />

    User: <input type="text" th:field="*{user}" />
    <span th:id="${#fields.hasErrors('user')}"
          th:errors="*{user}"></span> <br />

    <br />

    Message: <textarea rows="3" th:field="*{description}" />
    <span th:id="${#fields.hasErrors('description')}"
          th:errors="*{description}"></span> <br />

    <br />
    
    Date: <input type="text" th:field="*{date}" />
    <span th:id="${#fields.hasErrors('date')}"
          th:errors="*{date}"></span> <br />


    <br />
    <input type="submit"  value="Send" />
</form>

</div>
<br/>
<br/>


<nav th:replace="base :: footer">
</nav>

<br/>
<br/>


</body>
</html>